<% @bootcamps.each do |bootcamp| %>
  <div>
    <h1><%= bootcamp.name %></h1><br />
    <i><%= bootcamp.university %></i><br />
    <p><%= bootcamp.description %></p><br />
  </div>

  <hr />
<% end %>